{
  "presets": [
    ["env", { "modules": false, "loose": true }],
    ["react"],
    ["stage-2"]
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-transform-proto-to-assign",
        "transform-modules-commonjs"
      ]
    },
    "rollup": {
      "plugins": [
        "babel-plugin-dev-expression"
      ]
    }
  }
}
